body {
    background-color: #FFF;
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all 0.5s;
}

.container	{
	max-width: 1080px;
	margin: 0 auto;
	padding: 0 10px;
}

/* ---- Menu nawigacja ---- */

.menu {
    background: rgba(0,0,0,0.7);
    padding: 15px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 999;
  }

  .menu_items {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 3rem;
    margin: 0;
    padding: 0.5rem 0;
    }

  .menu_link {
    font-size: 1.4rem;
    font-weight: bold;
    color: #f3f3f3;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0.1em 0.1em 0.1em black;
    transition: transition;
  }

  .menu_link:hover {
    color: #5a58a0;
    transition: transition;
  }

  .menu-icon {
    display: none;
  }

/* ---- Banner ---- */

.banner {
    background: url("img/israel-5401543_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: unset;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner > h1 {
    color: #f3f3f3;
    font-size: clamp(2rem, 6vw, 6rem);
    font-weight: bold;
    text-align: center;
    text-shadow: 0.1em 0.1em 0.1em black;
    margin: 1.7rem auto;
}

.banner > h2 {
    color: #f3f3f3;
    font-size: clamp(1.5rem, 4vw, 4rem);
    font-weight: bold;
    text-align: center;
    text-shadow: 0.1em 0.1em 0.1em black;
    margin: 1.7rem auto;
}

.banner > p {
    color: #f3f3f3;
    font-size: clamp(0.3rem, 3vw, 1.2rem);
    text-align: center;
    background: rgba(0,0,0,0.7);
    border-radius: 10px;
    padding: clamp(1rem, 3vw, 3rem);
    max-width: 1000px;
    margin: 0 auto;
}

.banner > a {
    text-decoration: none;
    font-weight: bold;
    background-color: brown;
    color: #f3f3f3;
    padding: 1rem 2rem;
    text-align: center;
    border: 2px solid #f3f3f3;
    border-radius: 10px;
    display: block;
    width: max-content;
    margin: 4vh auto;
}

/* ---- Ostatnie wyprawy ---- */

.expeditions {
    background: url("img/iran-3854255_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    height: 100vh;
}

.expeditions > h1 {
    font-size: clamp(1.5rem, 4vw, 4rem);
    font-weight: bold;
    color: #242424;
    text-align: center;
    margin: 0 auto;
    padding: clamp(0.5rem, 2vw, 3rem);
    padding-top: 4rem;
    text-shadow: 0.1em 0.1em 0.1em grey;
}

.expeditions .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.expeditions .container > div {
    width: 25%;
    height: auto;
    border: 2px solid black;
    border-radius: 10px;
    margin: 1vh 1vw;
    box-shadow: 10px 10px 8px grey;
    overflow: hidden;
}

.expeditions .container > div p {
    padding: 1rem;
    margin: 0;
    text-align: center;
    font-weight: bold;
}

.expeditions .container > div > div {
    position: relative;
    max-height: 350px;
    overflow: hidden;
}

.expeditions .container > div > div > h2 {
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    text-align: center;
    margin: 0;
    padding: 1rem 0;
    width: 100%;
    color: #f3f3f3;
}

.expeditions .container > div > div > img {
    width: 100%;
    height: auto;
    padding: 0;
}

@media only screen and (max-width: 800px) {
    .expeditions .container {
        flex-direction: column;
    }

    .expeditions .container > div {
        width: 90%;
    }

    .menu_items {
        flex-direction: column;
        align-items: center;
        row-gap: 1.4rem;
    }

    .menu-icon {
        display: flex;
        max-width: fit-content;
        color: #f3f3f3;
        font-size: 1.5rem;
        text-align: left;
        border: 1px solid #f3f3f3;
        border-radius: 5px;
        padding: 0.5rem 1.5rem;
        cursor: pointer;
        transition: all 0,5s linear;
    }

    .collapsible_content {
        max-height: 0;
        padding: 0;
        overflow: hidden;
        transition: all 0,5s linear;
    }

    .collapsible--expanded .collapsible_content {
        max-height: 100vh;
    }

    .collapsible--expanded .menu_icon {
        box-shadow: 0 0 3px 2px #f3f3f3;
        border-radius: 5px;
    }
        
}

/* ---- Nowe inspiracje ---- */

.inspirations {
    background: url("img/desert-4940295_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 100%;
    height: 100vh;
}

.inspirations > h1 {
    font-size: clamp(1.5rem, 4vw, 4rem);
    font-weight: bold;
    color: #242424;
    text-align: center;
    margin: 0 auto;
    padding: clamp(0.5rem, 2vw, 3rem);
    padding-top: 4rem;
    text-shadow: 0.1em 0.1em 0.1em grey;
}


/* ---- Galeria ---- */

.gallery {
    background: url("img/desert-4954346_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: unset;
    height: 100vh;
}

.gallery > h1 {
    font-size: clamp(1.5rem, 4vw, 4rem);
    font-weight: bold;
    color: #242424;
    text-align: center;
    margin: 0 auto;
    padding: clamp(0.5rem, 2vw, 3rem);
    padding-top: 4rem;
    text-shadow: 0.1em 0.1em 0.1em grey;
}

/* ---- Kontakt ---- */

.contact {
    background: url("img/sunset-4913207_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 100%;
    height: 100vh;
}

.contact > h1 {
    font-size: clamp(1.5rem, 4vw, 4rem);
    font-weight: bold;
    color: #f3f3f3;
    text-align: center;
    margin: 0 auto;
    padding: clamp(0.5rem, 2vw, 3rem);
    padding-top: 4rem;
    text-shadow: 0.1em 0.1em 0.1em grey;
}


/* ---- Stopka ---- */