/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */

   html, body, div, span, applet, object, iframe,
   h1, h2, h3, h4, h5, h6, p, blockquote, pre,
   a, abbr, acronym, address, big, cite, code,
   del, dfn, em, img, ins, kbd, q, s, samp,
   small, strike, strong, sub, sup, tt, var,
   b, u, i, center,
   dl, dt, dd, ol, ul, li,
   fieldset, form, label, legend,
   table, caption, tbody, tfoot, thead, tr, th, td,
   article, aside, canvas, details, embed, 
   figure, figcaption, footer, header, hgroup, 
   menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
       margin: 0;
       padding: 0;
       border: 0;
       font-size: 100%;
       font: inherit;
       vertical-align: baseline;
   }
   /* HTML5 display-role reset for older browsers */
   article, aside, details, figcaption, figure, 
   footer, header, hgroup, menu, nav, section {
       display: block;
   }
   body {
       line-height: 1;
   }
   ol, ul {
       list-style: none;
   }
   blockquote, q {
       quotes: none;
   }
   blockquote:before, blockquote:after,
   q:before, q:after {
       content: '';
       content: none;
   }
   table {
       border-collapse: collapse;
       border-spacing: 0;
   }

body {
    background-color: #FFF;
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all 0.5s;
}

* { box-sizing: border-box;
}

*:focus {
    box-shadow: none;
  }

.container	{
	max-width: 1080px;
	margin: 0 auto;
	padding: 0 10px;
}

/* ---- Navigation Menu ---- */

.menu {
    background: rgba(0,0,0,0.7);
    padding: 20px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 999;
  }

  .menu-items {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 3rem;
    margin: 0;
    padding: 0;
    }

  .menu-link {
    position: relative;
    font-size: 1.4rem;
    font-weight: bold;
    color: #f3f3f3;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0.1em 0.1em 0.1em black;
    transition: 0.5s ease-in-out;
  }

  .menu-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    background-color: grey;
    height: 0.15rem;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
  }

  .menu-link:hover {
    color: grey;
    transition: 0.5s ease-in-out;
  }

  .menu-link:hover::after {
    width: 100%;
  }

  .menu-icon {
    display: none;
  }

/* ---- Banner ---- */

.banner {
    background: url("img/israel-5401543_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: unset;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner > h1 {
    color: #f3f3f3;
    font-size: clamp(2rem, 6vw, 6rem);
    font-weight: bold;
    text-align: center;
    text-shadow: 0.1em 0.1em 0.1em black;
    margin: 1.7rem auto;
}

.banner > h2 {
    color: #f3f3f3;
    font-size: clamp(1.5rem, 4vw, 4rem);
    font-weight: bold;
    text-align: center;
    text-shadow: 0.1em 0.1em 0.1em black;
    margin: 1.7rem auto;
}

.banner > p {
    color: #f3f3f3;
    font-size: clamp(0.3rem, 3vw, 1.2rem);
    text-align: center;
    background: rgba(0,0,0,0.7);
    border-radius: 10px;
    padding: clamp(1rem, 3vw, 3rem);
    max-width: 1000px;
    margin: 0 auto;
}

.banner > a {
    text-decoration: none;
    font-weight: bold;
    background-color: rgba(0,0,0,0.7);
    color: #f3f3f3;
    padding: 1rem 2rem;
    text-align: center;
    border: 2px solid #f3f3f3;
    border-radius: 10px;
    display: block;
    width: max-content;
    margin: 4vh auto;
}

.banner a:hover {
    color: grey;
    background-color: rgba(0,0,0,1.0);
}

/* ---- Expeditions ---- */

.expeditions {
    background: url("img/iran-3854255_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    height: 100vh;
}

.expeditions > h2 {
    font-size: clamp(1.5rem, 4vw, 4rem);
    font-weight: bold;
    color: #242424;
    text-align: center;
    margin: 0 auto;
    padding: clamp(0.5rem, 2vw, 3rem);
    padding-top: 5rem;
    text-shadow: 0.1em 0.1em 0.1em grey;
}

.expeditions .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.expeditions .container > div {
    width: 25%;
    height: 50vh;
    border: 2px solid black;
    border-radius: 10px;
    margin: 0 1vw;
    box-shadow: 10px 10px 8px grey;
    overflow: hidden;
}

.expeditions .container > div p {
    padding: 1rem;
    margin: 0;
    text-align: center;
    font-weight: bold;
}

.expeditions .container > div > div {
    position: relative;
    max-height: 350vh;
    overflow: hidden;
}

.expeditions .container > div > div > h2 {
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    text-align: center;
    margin: 0;
    padding: 1rem 0;
    width: 100%;
    color: #f3f3f3;
}

.expeditions .container > div > div > img {
    width: 100%;
    height: auto;
    padding: 0;
}

/* ---- Inspirations ---- */

.inspirations {
    background: url("img/desert-4940295_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 100%;
    height: 100vh;
}

.inspirations > h2 {
    font-size: clamp(1.5rem, 4vw, 4rem);
    font-weight: bold;
    color: #242424;
    text-align: center;
    margin: 0 auto;
    padding: clamp(0.5rem, 2vw, 3rem);
    padding-top: 5rem;
    text-shadow: 0.1em 0.1em 0.1em grey;
}


/* ---- Gallery ---- */

.gallery {
    background: url("img/desert-4954346_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: unset;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery > h2 {
    font-size: clamp(1.5rem, 4vw, 4rem);
    font-weight: bold;
    color: #242424;
    text-align: center;
    margin: 0 auto;
    padding: clamp(0.5rem, 2vw, 3rem);
    padding-top: 5rem;
    text-shadow: 0.1em 0.1em 0.1em grey;
}

#slider {
    width: 768px;
    height: 460px;
    margin-top: 30px;
}
  
#slider #top-row {
    width: 768px;
    height: 460px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
  
#slider .slide {
    display: none;
    width: 100%;
    flex: 1;
    border: 2px solid black;
    border-radius: 10px
}
  
#slider .slide.active {
    display: block;
}
  
#slider #bottom-row {
    display: flex;
    justify-content: center;
}
  
#dots {
    margin-top: 10px;
    display: inline-flex;
    padding: 5px 10px;
    padding-right: 0;
    border-radius: 2px;
}
  
#dots .dot {
    width: 12px;
    height: 12px;
    background-color: #000000;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
}

#dots .dot.visible {
    background-color: #ffffff;
}
  
.arrow {
    margin: 0 10px;
}
  
.arrow, .dot {
    cursor: pointer;
}

/* ---- Contact ---- */

.contacts {
    background: url("img/sunset-4913207_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 100%;
    height: 100vh;
}

.contacts > h2 {
    font-size: clamp(1.5rem, 4vw, 4rem);
    font-weight: bold;
    color: #f3f3f3;
    text-align: center;
    margin: 0 auto;
    padding: clamp(0.5rem, 2vw, 3rem);
    padding-top: 5rem;
    text-shadow: 0.1em 0.1em 0.1em grey;
}

.contacts-wrapper {
    display: flex;
    max-width: 100%;
}

.contact {
    flex: 0 0 27.333333%;
    max-width: 33.333333%;
    text-align: center;
    text-shadow: 0.1em 0.1em 0.1em grey;
    color: #f3f3f3;
    border: 3px solid #f3f3f3;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.7);
    box-shadow: 10px 10px 8px grey;
    margin: 3%;
    padding: 10px;
}

.contact:hover {
    background-color: rgba(0,0,0,1.0);
    transition: all 0.5s;
}
  
.contact i {
    margin: 10px 0;
    text-shadow: 0.1em 0.1em 0.1em grey;
}

.contact > h3 {
    font-size: clamp(1rem, 3vw, 2rem);
    padding: 1rem;
}

.contact > p {
    font-size: clamp(0.5rem, 6vw, 1.2rem);
    padding: 0.5rem;
}

/* ---- Footer ---- */


@media only screen and (max-width: 800px) {
    .expeditions .container {
        flex-direction: column;
        flex: 50%;
    }

    .expeditions .container > div {
        width: 40%;
    }

    .menu {
        padding: 10px;
    }
    .menu-items {
        flex-direction: column;
        align-items: center;
        row-gap: 1.4rem;
    }

    .menu-icon {
        display: flex;
        width: max-content;
        color: #f3f3f3;
        font-size: 1.3rem;
        font-weight: bold;
        text-align: right;
        padding: 0.5rem 1.5rem;
        cursor: pointer;
        transition: all 0,5s linear;
    }

    .collapsible-content {
        display: flex;
        justify-content: flex-end;
        max-height: 0;
        padding: 0;
        overflow: hidden;
        transition: all 0,5s linear;
    }

    .collapsible--expanded .collapsible-content {
        max-height: 100vh;
    }
    
    .contacts-wrapper {
        display: block;
    }

    .contact {
        margin: 10% 20% 10% 20%;
        max-width: 100%;
        justify-content: center;
        
    }
}